nodered/data/flows.json
[
    {
        "id": "6f773d2488747d0e",
        "type": "tab",
        "label": "Oui",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80c8bfe066a469fa",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ccc85c541234edfb",
        "type": "postgreSQLConfig",
        "name": "postgresql",
        "host": "192.168.50.30",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "nodered",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "etu",
        "userFieldType": "str",
        "password": "-etu-",
        "passwordFieldType": "str"
    },
    {
        "id": "a6cdbac67a21c79a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.50.30",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d1d930721eeacfde",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "821d4742cbe81e5f",
        "type": "ui_group",
        "name": "dash1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbbd71f67574d536",
        "type": "ui_tab",
        "name": "Dashboard infra",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "695d5842399a4077",
        "type": "ui_group",
        "name": "Connexions au routeur WiFi",
        "tab": "bbbd71f67574d536",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47a662bfab7d0c99",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.100.248",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a8d9d91c9256c660",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "nodered",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "etu",
        "userFieldType": "str",
        "password": "-etu-",
        "passwordFieldType": "str"
    },
    {
        "id": "3a60880de920b501",
        "type": "ui_group",
        "name": "SERVEUR 01",
        "tab": "bbbd71f67574d536",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a7c7cefeeb6db7a",
        "type": "ui_group",
        "name": "SERVEUR 02",
        "tab": "bbbd71f67574d536",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e2cdf367ac15a12",
        "type": "ui_tab",
        "name": "Logs",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f29e01b0c71fa303",
        "type": "ui_group",
        "name": "Logs S1",
        "tab": "2e2cdf367ac15a12",
        "order": 5,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f96b5eb6db6a5af7",
        "type": "ui_group",
        "name": "Logs S2",
        "tab": "2e2cdf367ac15a12",
        "order": 4,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "86884acbe9baa6da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.117",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "79dfc7ac55dfc51a",
        "type": "mqtt in",
        "z": "6f773d2488747d0e",
        "name": "",
        "topic": "router/log",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6cdbac67a21c79a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 320,
        "wires": [
            [
                "c4489008c19b8359",
                "e71d372970d2b167"
            ]
        ]
    },
    {
        "id": "c4489008c19b8359",
        "type": "debug",
        "z": "6f773d2488747d0e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "e71d372970d2b167",
        "type": "function",
        "z": "6f773d2488747d0e",
        "name": "Appareil connectés",
        "func": "msg.payload = {\n    devices: msg.payload.devices || []\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            [
                "8784dbf21f86c127",
                "615d57747f119141"
            ]
        ]
    },
    {
        "id": "8784dbf21f86c127",
        "type": "debug",
        "z": "6f773d2488747d0e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "615d57747f119141",
        "type": "ui_template",
        "z": "6f773d2488747d0e",
        "group": "695d5842399a4077",
        "name": "",
        "order": 1,
        "width": 9,
        "height": 6,
        "format": "<style>\n    table {\n        width: 100%;\n        border-collapse: collapse;\n        margin: 10px 0;\n        font-size: 14px;\n        font-family: Arial, sans-serif;\n        text-align: left;\n        table-layout: fixed;\n    }\n\n    thead th {\n        background-color: #007BFF;\n        color: white;\n        padding: 8px;\n        word-wrap: break-word;\n    }\n\n    tbody td {\n        padding: 8px;\n        border: 1px solid #ddd;\n        word-wrap: break-word;\n    }\n\n    tbody tr:nth-child(even) {\n        background-color: #f2f2f2;\n    }\n\n    tbody tr:hover {\n        background-color: #ddd;\n    }\n\n    /* Style pour le texte rouge */\n    .unknown {\n        color: red;\n        font-weight: bold;\n        /* Optionnel : met en gras */\n    }\n</style>\n\n<table>\n    <thead>\n        <tr>\n            <th style=\"width: 5%;\">#</th>\n            <th style=\"width: 30%;\">NAME</th>\n            <th style=\"width: 35%;\">IP Address</th>\n            <th style=\"width: 30%;\">MAC Address</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"device in msg.payload.devices\">\n            <td>{{$index + 1}}</td>\n            <td ng-class=\"{'unknown': device.name === 'Unknown'}\">{{device.name || 'Unknown'}}</td>\n            <td>{{device.ip}}</td>\n            <td>{{device.mac}}</td>\n        </tr>\n    </tbody>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a59dbf64abb7f605",
        "type": "e-mail",
        "z": "6f773d2488747d0e",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "EMAIL",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "0b3b661de39a4c67",
        "type": "mqtt in",
        "z": "6f773d2488747d0e",
        "name": "haproxy/alerts",
        "topic": "haproxy/alerts",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6cdbac67a21c79a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "7b5028ee916f67eb"
            ]
        ]
    },
    {
        "id": "7b5028ee916f67eb",
        "type": "function",
        "z": "6f773d2488747d0e",
        "name": "Format Mail Alerte",
        "func": "// Define the email subject and the HTML body\nvar emailSubject = \"⚠️ DDOS Alert Notification\";\n\n// Define the email HTML template\nvar emailBody = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>DDOS Alert Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f4f4f4;\n        }\n        .email-container {\n            max-width: 600px;\n            margin: 20px auto;\n            background-color: #ffffff;\n            padding: 20px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n        }\n        .header {\n            background-color: #ff4c4c;\n            color: #ffffff;\n            padding: 20px;\n            text-align: center;\n            border-radius: 8px 8px 0 0;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 24px;\n        }\n        .body-content {\n            padding: 20px;\n            color: #333333;\n            line-height: 1.6;\n        }\n        .body-content p {\n            margin: 0 0 10px;\n        }\n        .alert-details {\n            background-color: #ffe6e6;\n            padding: 15px;\n            border-left: 4px solid #ff4c4c;\n            margin: 20px 0;\n            border-radius: 4px;\n        }\n        .footer {\n            text-align: center;\n            padding: 10px;\n            font-size: 12px;\n            color: #888888;\n        }\n        .footer a {\n            color: #ff4c4c;\n            text-decoration: none;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"header\">\n            <h1>⚠️ DDOS Alert Notification</h1>\n        </div>\n        <div class=\"body-content\">\n            <p>Dear Team,</p>\n            <p>We have detected a potential Distributed Denial of Service (DDOS) attack on our load balancer. Immediate attention is required to mitigate this threat and ensure the stability of our services.</p>\n            <div class=\"alert-details\">\n                <strong>Details:</strong>\n                <ul>\n                    <li><strong>Source IP:</strong> ${msg.payload.source_ip}</li>\n                    <li><strong>Status Code:</strong> 429</li>\n                    <li><strong>Request:</strong> ${msg.payload.request}</li>\n                    <li><strong>Time:</strong> ${msg.payload.date}</li>\n                </ul>\n            </div>\n            <p>Please log in to the monitoring system for further details and take the necessary actions.</p>\n            <p>Thank you,</p>\n            <p><strong>IT Security Team</strong></p>\n        </div>\n        <div class=\"footer\">\n            <p>© 2025 Your Company Name. All rights reserved.</p>\n            <p><a href=\"#\">Unsubscribe</a> | <a href=\"#\">Contact Support</a></p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\n// Prepare the email payload\nmsg =  {\n    to: \"guilhem.chagper@gmail.com\", // Replace with actual recipient\n    from: \"guilhem.chagper+nodered@gmail.com\",   // Replace with your sender email\n    topic: emailSubject,\n    payload: emailBody\n};\n\n// Send the payload to the next node (email node)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 440,
        "wires": [
            [
                "a59dbf64abb7f605"
            ]
        ]
    },
    {
        "id": "59393467daf37ed5",
        "type": "postgresql",
        "z": "80c8bfe066a469fa",
        "name": "",
        "query": "",
        "postgreSQLConfig": "ccc85c541234edfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 770,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1035ddcb795fc411",
        "type": "mqtt in",
        "z": "80c8bfe066a469fa",
        "name": "",
        "topic": "router/log",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6cdbac67a21c79a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "2e6d3199e5089294"
            ]
        ]
    },
    {
        "id": "2e6d3199e5089294",
        "type": "function",
        "z": "80c8bfe066a469fa",
        "name": "Store",
        "func": "var devices = msg.payload.devices;\nvar timestamp = msg.payload.timestamp;\nvar queries = [];\n\nvar messages = devices.map(function (device) {\n    return {\n        query: `INSERT INTO DEVICES(TIMESTAMP, IP, NAME, MAC) VALUES ('${timestamp}', '${device.ip}', '${device.name}', '${device.mac}') ;`\n    };\n});\n\nreturn [messages];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 360,
        "wires": [
            [
                "59393467daf37ed5"
            ]
        ]
    },
    {
        "id": "eed29cf259937384",
        "type": "postgresql",
        "z": "80c8bfe066a469fa",
        "name": "",
        "query": "",
        "postgreSQLConfig": "ccc85c541234edfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 790,
        "y": 580,
        "wires": [
            [
                "a1843a48987f1ac4"
            ]
        ]
    },
    {
        "id": "7d7ee0b43fa83bcc",
        "type": "mqtt in",
        "z": "80c8bfe066a469fa",
        "name": "",
        "topic": "serveur01/Trame",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6cdbac67a21c79a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 580,
        "wires": [
            [
                "334c84db80de6382",
                "29de17d653a65cb6",
                "30023bebca95a7ab",
                "78114f41778a34c7"
            ]
        ]
    },
    {
        "id": "29de17d653a65cb6",
        "type": "function",
        "z": "80c8bfe066a469fa",
        "name": "Store",
        "func": "var uptime = msg.payload.uptime;\nvar timestamp = msg.payload.timestamp;\nvar free_heap = msg.payload.heap_free;\nvar ip = msg.payload.esp_ip ;\nvar uptime = msg.payload.uptime ;\nvar used_heap = msg.payload.heap_used ;\n\n\nvar query = `INSERT INTO SERVERS_LOAD(TIMESTAMP, IP, SERVER_NAME, FREE_HEAP, USED_HEAP, UPTIME) VALUES ('${timestamp}', '${ip}', 'SERVEUR01', '${free_heap}', '${used_heap}', '${uptime}')` ; \n\nmsg.query = query ;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 580,
        "wires": [
            [
                "f44ada09c67998dc",
                "eed29cf259937384"
            ]
        ]
    },
    {
        "id": "f44ada09c67998dc",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "query",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 500,
        "wires": []
    },
    {
        "id": "334c84db80de6382",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "Trame 01",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "a1843a48987f1ac4",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "pgsql",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 580,
        "wires": []
    },
    {
        "id": "30023bebca95a7ab",
        "type": "function",
        "z": "80c8bfe066a469fa",
        "name": "Gauge Free heap",
        "func": "msg.ui_update = {} ;\nmsg.percentage = parseInt(msg.payload.heap_free / msg.payload.heap_total * 100) ;\nmsg.ui_update.max = msg.payload.heap_total;\nmsg.total = msg.payload.heap_total ;\nmsg.payload = msg.payload.heap_free;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 780,
        "wires": [
            [
                "4dd8e7a867bcb73d",
                "9ee82d9bbac439f3",
                "9aecfadf502071ce"
            ]
        ]
    },
    {
        "id": "4dd8e7a867bcb73d",
        "type": "ui_gauge",
        "z": "80c8bfe066a469fa",
        "name": "",
        "group": "8a7c7cefeeb6db7a",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "FREE HEAP",
        "label": "",
        "format": "{{msg.percentage}}%",
        "min": "180000",
        "max": "250000",
        "colors": [
            "#b30000",
            "#e6e600",
            "#65cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 760,
        "wires": []
    },
    {
        "id": "141140227145f56e",
        "type": "postgresql",
        "z": "80c8bfe066a469fa",
        "name": "",
        "query": "",
        "postgreSQLConfig": "ccc85c541234edfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 770,
        "y": 1160,
        "wires": [
            [
                "19f6936c09037d77"
            ]
        ]
    },
    {
        "id": "1d9619b7bec5194b",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "Serveur 02 Query",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "query",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1080,
        "wires": []
    },
    {
        "id": "545a2d069502d90a",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "Trame 02",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 1080,
        "wires": []
    },
    {
        "id": "19f6936c09037d77",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "pgsql",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b543f87c374ff952",
        "type": "function",
        "z": "80c8bfe066a469fa",
        "name": "Gauge Free heap",
        "func": "// msg.ui_update.max = msg.payload.heap_total ;\nmsg.percentage = parseInt(msg.payload.heap_free / msg.payload.heap_total * 100);\nmsg.payload = msg.payload.heap_free;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1240,
        "wires": [
            [
                "c492a7538cac3150",
                "6195e35be4d1703e",
                "8650e54d09d3bfc6"
            ]
        ]
    },
    {
        "id": "9ee82d9bbac439f3",
        "type": "ui_text",
        "z": "80c8bfe066a469fa",
        "group": "8a7c7cefeeb6db7a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mémoire restante",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 800,
        "wires": []
    },
    {
        "id": "c492a7538cac3150",
        "type": "ui_gauge",
        "z": "80c8bfe066a469fa",
        "name": "",
        "group": "3a60880de920b501",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "FREE HEAP B",
        "label": "",
        "format": "{{msg.percentage}}%",
        "min": "180000",
        "max": "250000",
        "colors": [
            "#b30000",
            "#e6e600",
            "#65cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 1220,
        "wires": []
    },
    {
        "id": "78114f41778a34c7",
        "type": "function",
        "z": "80c8bfe066a469fa",
        "name": "Chart Used heap",
        "func": "// msg.ui_update.max = msg.payload.heap_total ;\nmsg.percentage = parseInt(msg.payload.heap_free / msg.payload.heap_total * 100) ;\n// msg.ui_update.max = msg.payload.heap_total;\nmsg.total = msg.payload.heap_total ;\nmsg.payload = msg.payload.heap_used;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 880,
        "wires": [
            [
                "f3a1571797dcfdac"
            ]
        ]
    },
    {
        "id": "f3a1571797dcfdac",
        "type": "ui_chart",
        "z": "80c8bfe066a469fa",
        "name": "USED HEAP",
        "group": "8a7c7cefeeb6db7a",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "USED HEAP",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "74882e63397841d8",
        "type": "postgresql",
        "z": "80c8bfe066a469fa",
        "name": "GET MIN FREE HEAP",
        "query": "SELECT MIN(free_heap) FROM servers_load WHERE server_name = 'SERVEUR01'; ",
        "postgreSQLConfig": "ccc85c541234edfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 650,
        "y": 700,
        "wires": [
            [
                "c19b98a940ca8b80"
            ]
        ]
    },
    {
        "id": "15081c894eca5b3e",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 640,
        "wires": []
    },
    {
        "id": "c4079b71990e6ac8",
        "type": "join",
        "z": "80c8bfe066a469fa",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "parts.index",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1030,
        "y": 640,
        "wires": [
            [
                "15081c894eca5b3e"
            ]
        ]
    },
    {
        "id": "9aecfadf502071ce",
        "type": "ui_chart",
        "z": "80c8bfe066a469fa",
        "name": "",
        "group": "8a7c7cefeeb6db7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "FREE HEAP",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "c19b98a940ca8b80",
        "type": "function",
        "z": "80c8bfe066a469fa",
        "name": "function 1",
        "func": "msg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 700,
        "wires": [
            [
                "ef7f0613192a49e3",
                "c4079b71990e6ac8"
            ]
        ]
    },
    {
        "id": "ef7f0613192a49e3",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 700,
        "wires": []
    },
    {
        "id": "343630cd76af387c",
        "type": "function",
        "z": "80c8bfe066a469fa",
        "name": "Chart Used heap",
        "func": "// msg.ui_update.max = msg.payload.heap_total ;\nmsg.percentage = parseInt(msg.payload.heap_free / msg.payload.heap_total * 100) ;\n// msg.ui_update.max = msg.payload.heap_total;\nmsg.total = msg.payload.heap_total ;\nmsg.payload = msg.payload.heap_used;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1360,
        "wires": [
            [
                "913dc5f97b36c641"
            ]
        ]
    },
    {
        "id": "913dc5f97b36c641",
        "type": "ui_chart",
        "z": "80c8bfe066a469fa",
        "name": "USED HEAP",
        "group": "3a60880de920b501",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "USED HEAP B",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "6195e35be4d1703e",
        "type": "ui_text",
        "z": "80c8bfe066a469fa",
        "group": "3a60880de920b501",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mémoire restante B",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1260,
        "wires": []
    },
    {
        "id": "8650e54d09d3bfc6",
        "type": "ui_chart",
        "z": "80c8bfe066a469fa",
        "name": "",
        "group": "3a60880de920b501",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "FREE HEAP B",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "25e53ca842166ea3",
        "type": "function",
        "z": "80c8bfe066a469fa",
        "name": "Store",
        "func": "var uptime = msg.payload.uptime;\nvar timestamp = msg.payload.timestamp;\nvar free_heap = msg.payload.heap_free;\nvar ip = msg.payload.esp_ip ;\nvar uptime = msg.payload.uptime ;\nvar used_heap = msg.payload.heap_used ;\n\n\nvar query = `INSERT INTO SERVERS_LOAD(TIMESTAMP, IP, SERVER_NAME, FREE_HEAP, USED_HEAP, UPTIME) VALUES ('${timestamp}', '${ip}', 'SERVEUR02', '${free_heap}', '${used_heap}', '${uptime}')` ; \n\nmsg.query = query ;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1160,
        "wires": [
            [
                "1d9619b7bec5194b",
                "141140227145f56e"
            ]
        ]
    },
    {
        "id": "1e21f43f1187e3bd",
        "type": "mqtt in",
        "z": "80c8bfe066a469fa",
        "name": "serveur02/Trame",
        "topic": "serveur02/Trame",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6cdbac67a21c79a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1240,
        "wires": [
            [
                "25e53ca842166ea3",
                "545a2d069502d90a",
                "b543f87c374ff952",
                "343630cd76af387c"
            ]
        ]
    },
    {
        "id": "8e7fae7f167e19dd",
        "type": "mqtt in",
        "z": "80c8bfe066a469fa",
        "name": "serveur02Charge",
        "topic": "serveur02/Charge",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6cdbac67a21c79a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1420,
        "y": 820,
        "wires": [
            [
                "39689bbfa2c9fd81",
                "71bf944324e7eade"
            ]
        ]
    },
    {
        "id": "39689bbfa2c9fd81",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "Serveur 02 Logs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 760,
        "wires": []
    },
    {
        "id": "71bf944324e7eade",
        "type": "function",
        "z": "80c8bfe066a469fa",
        "name": "Store",
        "func": "var timestamp = new Date();\ntimestamp = timestamp.toLocaleString() ; \nvar client_ip = msg.payload.client_ip ;\n\n\nvar query = `INSERT INTO WEB_LOGS(TIMESTAMP, CLIENT_IP, SERVER_NAME) VALUES ('${timestamp}', '${client_ip}', 'SERVEUR02')` ; \n\nmsg.query = query ;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 820,
        "wires": [
            [
                "7072d87dcb3d3f0e"
            ]
        ]
    },
    {
        "id": "7072d87dcb3d3f0e",
        "type": "postgresql",
        "z": "80c8bfe066a469fa",
        "name": "STORE SERVEUR 02 LOGS",
        "query": "",
        "postgreSQLConfig": "ccc85c541234edfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1960,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "e981d56d33ce0dd2",
        "type": "inject",
        "z": "80c8bfe066a469fa",
        "name": "Start logs refresh every seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SERVEUR01",
        "payloadType": "str",
        "x": 1500,
        "y": 500,
        "wires": [
            [
                "7c6bbbe245d44ba2"
            ]
        ]
    },
    {
        "id": "7c6bbbe245d44ba2",
        "type": "postgresql",
        "z": "80c8bfe066a469fa",
        "name": "SERVEUR 01 LOGS",
        "query": "SELECT server_name, client_ip, timestamp\nFROM web_logs\nWHERE server_name = '{{{ msg.payload }}}'\nORDER BY id DESC\nLIMIT 30 ;\n",
        "postgreSQLConfig": "ccc85c541234edfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1800,
        "y": 500,
        "wires": [
            [
                "09322ecd1348ed05",
                "62df566af02278e0"
            ]
        ]
    },
    {
        "id": "09322ecd1348ed05",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "Query results for server logs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2140,
        "y": 460,
        "wires": []
    },
    {
        "id": "62df566af02278e0",
        "type": "ui_template",
        "z": "80c8bfe066a469fa",
        "group": "f29e01b0c71fa303",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    table {\n        width: 100%;\n        border-collapse: collapse;\n        margin: 10px 0;\n        font-size: 14px;\n        font-family: Arial, sans-serif;\n        text-align: left;\n        table-layout: fixed;\n    }\n\n    thead th {\n        background-color: #007BFF;\n        color: white;\n        padding: 8px;\n        word-wrap: break-word;\n    }\n\n    tbody td {\n        padding: 8px;\n        border: 1px solid #ddd;\n        word-wrap: break-word;\n    }\n\n    tbody tr:nth-child(even) {\n        background-color: #f2f2f2;\n    }\n\n    tbody tr:hover {\n        background-color: #ddd;\n    }\n\n    /* Style pour le texte rouge */\n    .unknown {\n        color: red;\n        font-weight: bold;\n        /* Optionnel : met en gras */\n    }\n</style>\n\n<table>\n    <thead>\n        <tr>\n            <th style=\"width: 5%;\">#</th>\n            <th style=\"width: 30%;\">SERVEUR</th>\n            <th style=\"width: 35%;\">CLIENT CONNEXION</th>\n            <th style=\"width: 30%;\">TIME</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"log in msg.payload\">\n            <td>{{$index + 1}}</td>\n            <td>{{log.server_name}}</td>\n            <td>{{log.client_ip}}</td>\n            <td>{{log.timestamp}}</td>\n        </tr>\n    </tbody>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2080,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1ef220fe2b3e944a",
        "type": "inject",
        "z": "80c8bfe066a469fa",
        "name": "Start logs refresh every seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SERVEUR02",
        "payloadType": "str",
        "x": 1500,
        "y": 640,
        "wires": [
            [
                "d398d2acea668223"
            ]
        ]
    },
    {
        "id": "d398d2acea668223",
        "type": "postgresql",
        "z": "80c8bfe066a469fa",
        "name": "SERVEUR 02 LOGS",
        "query": "SELECT server_name, client_ip, timestamp\nFROM web_logs\nWHERE server_name = '{{{ msg.payload }}}'\nORDER BY id DESC\nLIMIT 30 ;\n",
        "postgreSQLConfig": "ccc85c541234edfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1800,
        "y": 640,
        "wires": [
            [
                "c8201308f8c9814a",
                "93e702d838bd9ad4"
            ]
        ]
    },
    {
        "id": "c8201308f8c9814a",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "Query results for server logs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2140,
        "y": 600,
        "wires": []
    },
    {
        "id": "93e702d838bd9ad4",
        "type": "ui_template",
        "z": "80c8bfe066a469fa",
        "group": "f96b5eb6db6a5af7",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    table {\n        width: 100%;\n        border-collapse: collapse;\n        margin: 10px 0;\n        font-size: 14px;\n        font-family: Arial, sans-serif;\n        text-align: left;\n        table-layout: fixed;\n    }\n\n    thead th {\n        background-color: #007BFF;\n        color: white;\n        padding: 8px;\n        word-wrap: break-word;\n    }\n\n    tbody td {\n        padding: 8px;\n        border: 1px solid #ddd;\n        word-wrap: break-word;\n    }\n\n    tbody tr:nth-child(even) {\n        background-color: #f2f2f2;\n    }\n\n    tbody tr:hover {\n        background-color: #ddd;\n    }\n\n    /* Style pour le texte rouge */\n    .unknown {\n        color: red;\n        font-weight: bold;\n        /* Optionnel : met en gras */\n    }\n</style>\n\n<table>\n    <thead>\n        <tr>\n            <th style=\"width: 5%;\">#</th>\n            <th style=\"width: 30%;\">SERVEUR</th>\n            <th style=\"width: 35%;\">CLIENT CONNEXION</th>\n            <th style=\"width: 30%;\">TIME</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"log in msg.payload\">\n            <td>{{$index + 1}}</td>\n            <td>{{log.server_name}}</td>\n            <td>{{log.client_ip}}</td>\n            <td>{{log.timestamp}}</td>\n        </tr>\n    </tbody>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2080,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "0d22710b8ebf7c7e",
        "type": "mqtt in",
        "z": "80c8bfe066a469fa",
        "name": "serveur01/Charge",
        "topic": "serveur01/Charge",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a6cdbac67a21c79a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 980,
        "wires": [
            [
                "e8a50f8f8213bbb6",
                "54ff2c0bef0e344e"
            ]
        ]
    },
    {
        "id": "e8a50f8f8213bbb6",
        "type": "debug",
        "z": "80c8bfe066a469fa",
        "name": "Serveur 01 Logs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 920,
        "wires": []
    },
    {
        "id": "54ff2c0bef0e344e",
        "type": "function",
        "z": "80c8bfe066a469fa",
        "name": "Store",
        "func": "var timestamp = new Date();\ntimestamp = timestamp.toLocaleString() ; \nvar client_ip = msg.payload.client_ip ;\n\n\nvar query = `INSERT INTO WEB_LOGS(TIMESTAMP, CLIENT_IP, SERVER_NAME) VALUES ('${timestamp}', '${client_ip}', 'SERVEUR01')` ; \n\nmsg.query = query ;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 980,
        "wires": [
            [
                "186fce4e983bee6f"
            ]
        ]
    },
    {
        "id": "186fce4e983bee6f",
        "type": "postgresql",
        "z": "80c8bfe066a469fa",
        "name": "STORE SERVEUR 01 LOGS",
        "query": "",
        "postgreSQLConfig": "ccc85c541234edfb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1960,
        "y": 980,
        "wires": [
            []
        ]
    }
]